
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

#myGame {
    z-index: 10;
    position: absolute;
    margin-left: 200px;
    width: 89.5%;
    height: 200px;
}

#character {
    width: 35px;
    height: 50px;
    position: relative;
    background: url("../images/luffy.png");
    top: 150px;
    left: 100px;
}
.animate{
    animation: jump 500ms;
    animation-timing-function: steps(4);
}
@keyframes jump {
    0%{top: 150px;}
    30%{top: 50;}
    70%{top: 50px;}
    100%{top: 150px;}    
    from{background-position: 0px;}
    to{background-position: -142px} 
}

#obstacle {
    width: 20px;
    height: 30px;
    position: relative;
    background-color: rgb(46, 0, 0);
    border-radius: 15px;
    border: 2px solid white;
    top: 120px;
    left: 95%;
}

.move_block {
    animation: block 2s infinite linear;
}
@keyframes block {
    0%{right: 0;}
    100%{left:-40px;}
}


.background {
    position: fixed;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.main_content {
    background-color: rgba(29, 29, 29, 0.726);
    margin-top: 200px;
    backdrop-filter: blur(5px);
}

.wrapper {
    display: flex;
    position: relative;
}

.wrapper .section {
    margin-left: 200px;
    width: 100%;
    margin-bottom: 50px;
    padding-left: 10px;
}

.wrapper .sidebar {
    position: fixed;
    width: 200px;
    height: 100%;
    padding: 30px 0;
    background-color: rgb(33, 34, 92);
    z-index: 10;
    box-shadow: 0 20px 20px -4px rgb(255, 255, 255);
}

.wrapper .sidebar h2 {
    color: rgb(228, 178, 104);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 15px;
    font-family: 'Roboto', sans-serif;
}

.wrapper .sidebar ul li {
    padding: 15px;
}

.wrapper .sidebar ul li a{
    display: block;
    color: rgb(224, 206, 185);
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.wrapper .section h1{
    margin-bottom: 15px;
    max-width: 85vw;
    color: white;
    margin-top: 15px;
}

.wrapper .section h3{
    margin-bottom: 15px;
    max-width: 85vw;
    color: white;
}

.wrapper .section .img1 {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 15vw; 
    min-width: 10px;
    height: 18vw;
    min-height: 12px;
    border-radius: 8vw;

}

.wrapper .section p {
    width: 75%;
    max-width: 85vw;
    color: white;
}

.wrapper .section ul li {
    width: 75%;
    max-width: 85vw;
    color: white;
}

.seperator {
    height: 200px;
}