<!DOCTYPE html>

{% load static %}

<html lang="en">
    <header>
        <title>My Page</title>
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    </header>

    <body>
        <div id="myGame" onmousedown="jump()">
            <div id="character"></div>
            <div id="obstacle"></div>
        </div>
        <div class="background">
            <img src="{% static 'images/background.jpg' %}" alt="Image of UCSB">
        </div>
        <div class="wrapper">
            <div class="sidebar">
                <h2>Navigate</h2>
                <ul>
                    <li><a href="#">
                        <span class="material-symbols-outlined">
                        home
                        </span>Home</a></i></li>
                    <li><a href="#">Contact Me</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">GitHub</a></li>
                </ul>
            </div>
        </div>
        <div class="main_content">
        <div class="wrapper">
            <div class="section">
                <h1>Hello, my name is Yibo!</h1>
                <h3>A Little About Me...</h3>
                    <p>
                        I am a third year Data-Science Major at the University of California: Santa Barbara. I am interested in full-stack and data. The language that I primarily use is Python and all 
                        of its amazing packages. However, I am also invested in Java. In my off-time I enjoy playing video-games, listening/playing music, and watching anime.
                    </p>
                <div>

                </div>
            </div>
        </div>
        <div class="seperator"></div>
        <div class="wrapper">
            <div class="section">
                <h1>Education</h1>
                <h3>UCSB-3rd Year Data Science Major</h3>
                <p>Courses Taken: Linear Algebra, Data Structures and Algorithms, Linear Regression, Probability and Statistics, Vector Calculus</p>
            </div>
        </div>
        <div class="seperator"></div>
        <div class="wrapper">
            <div class="section">
                <h1>Projects</h1>
                <ul>
                    <li>Freddit-An interactive database</li>
                    <li>AnimeGit-An Anime-Search model</li>
                    <li>...</li>
                </ul>
                <p>
                    You can find all of my projects in my GitHub repository.
                </p>
            </div>
        </div>
        </div>
    </body>

    <footer>

    </footer>

    <script src="{% static 'js/script.js' %}"></script>

</html>