{% load static %}
<!DOCTYPE html>

<html lang="en">
    <header>
        <title>My Page</title>
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    </header>

    <body>
        <div class="wrapper">
            <div class="sidebar">
                <h2>Navigate</h2>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Contact Me</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">GitHub</a></li>
                </ul>
            </div>
        </div>
        <br/>
        <div class="wrapper">
            <div class="section">
                <h1>Hello, my name is Yibo!</h1>
                <h3>A Little About Me...</h3>
                    <p>
                        I am a third year Data-Science Major at the University of California: Santa Barbara. I am interested in full-stack and data. The language that I primarily use is Python and all 
                        of its amazing packages. However, I am also invested in Java. In my off-time I enjoy video-games, music, and anime.
                    </p>
                <img class="img1" src="#" alt="A picture of me">
            </div>
        </div>
        <br/>
        <div class="wrapper">
            <div class="section">
                <h1>Education</h1>
                <h3>UCSB-3rd Year Data Science Major</h3>
                <p>Courses Taken: Linear Algebra, Data Structures and Algorithms, Linear Regression, Probability and Statistics, Vector Calculus</p>
            </div>
        </div>
        <br/>
        <div class="wrapper">
            <div class="section">
                <h1>Projects</h1>
                <ul>
                    <li>Freddit-An interactive database</li>
                    <li>AnimeGit-An Anime-Search model</li>
                    <li>...</li>
                </ul>
                <p>
                    You can find all of my projects in my GitHub repository.
                </p>
            </div>
        </div>
    </body>

    <footer>

    </footer>

</html>